<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-3.0.xsd">
    <context:annotation-config/>

    <bean id="beanTemplate" abstract="true">
        <property name="message1" value="Hello World!"/>
        <property name="message2" value=".....!"/>
        <property name="message3" value="Good morning!"/>
    </bean>
    <bean id="helloWorld" class="com.gss.HelloWorld" scope="prototype" destroy-method="destroy">
        <property name="message" value="Hello World!"/>
        <property name="message2" value=".....!"/>
    </bean>

    <bean id="helloUSA" class="com.gss.HelloUSA" parent="beanTemplate">
        <property name="message2" value="Hello USA!"/>
    </bean>

    <bean id="textEditor" class="com.gss.TextEditor">
        <property name="size" value="1"/>
    </bean>

    <bean id="spellChecker1" class="com.gss.SpellChecker">
        <property name="nameChecker" value="first"/>
    </bean>

    <bean id="spellChecker2" class="com.gss.SpellChecker">
        <property name="nameChecker" value="second"/>
    </bean>

    <bean id="javaCollection" class="com.gss.JavaCollection">
        <property name="addressList">
            <list>
                <value>India</value>
                <value>Pakistan</value>
                <value>Russia</value>
                <value>USa</value>
            </list>
        </property>
        <property name="addressSet">
            <set>
                <value>India</value>
                <value>Pakistan</value>
                <value>Russia</value>
                <value>USa</value>
            </set>
        </property>
        <property name="addressMap">
            <map>
                <entry key="1" value="India"/>
                <entry key="2" value="Pakistan"/>
                <entry key="3" value="Russia"/>
                <entry key="4" value="USa"/>
            </map>
        </property>

        <property name="addressProp">
            <props>
                <prop key="one">India</prop>
                <prop key="two">Pakistan</prop>
                <prop key="three">Russia</prop>
                <prop key="four">USa</prop>
            </props>
        </property>
    </bean>
</beans>